*{
  margin:0;
  padding:0;
  box-sizing: border-box;
}

body{
  background-color: black;
}
.calculator{
  width:330px;
  background-color: rgb(200, 200, 200);
  border: 1px solid;
  padding: 5px;
}
.calculator form{
  background: rgb(202, 202, 202);
  display: grid;
  grid-template-columns: repeat(4, 76px);
  grid-auto-rows: 55px;
  grid-gap: 5px;
}
.calculator form input{
  border: 2px solid transparent
}
.calculator form input:hover{
  border-color :rgb(180, 180, 180);
  background-color :rgb(210, 210, 210);
}
.calculator form .number{
  background-color: white
}
.calculator form input[type="text"]{
  grid-column: span 4;
}